@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: #0f172a;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 80px;
  overflow-x: hidden;
  height: 100%;
}

#root {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Remove all margins and padding from footer and its container */
footer {
  margin: 0 !important;
  padding-bottom: 0 !important;
}
